/*
 * -------------------------------------------------
 * Juno config
 * -------------------------------------------------
 * Pipeline parameters specific to running Tempo with LSF on the Juno cluster at MSKCC
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 5000000000
  perJobMemLimit = true
}

params {

  // Limit resources so that this can run CI
  max_cpus   = 10
  max_memory = 40.GB
  max_time   = 240.h
}

params.mem_per_core = true

process {
    withName: 'NFCORE_NANOSEQ:NANOSEQ:ALIGN_MINIMAP2:MINIMAP2_ALIGN' {
        time = 96.h
        container = "/juno/work/shah/isabl_software/singularity_sifs/nanopore/minimap.sif"
        cpus = 20
        memory = 2.GB
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:QCFASTQ_NANOPLOT_FASTQC:FASTQC' {
        time = 24.h
        memory = 120.GB
        container = "/juno/work/shah/isabl_software/singularity_sifs/nanopore/fastqc.sif"
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:QCFASTQ_NANOPLOT_FASTQC:NANOPLOT' {
        time = 24.h
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:BEDTOOLS_UCSC_BIGWIG:BEDTOOLS_GENOMECOV' {
        time = 24.h
        memory = 60.GB
        container = "/juno/work/shah/isabl_software/singularity_sifs/nanopore/genomecov.sif"
    }
}
